.catalog {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 320px;
}

.catalog__wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.catalog__ships-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.catalog__button {
  width: 320px;
  margin: 0 auto;
  align-self: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 11px 12px 14px 12px;
  border-radius: 10px;
  text-align: center;
  color: $text-light-blue;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
  

  &:hover,
  &:focus {
    color: $text-blue;
    background-color: transparent;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  }

  &:active {
    color: rgba($text-blue, 0.3);
  }
}

.catalog__race-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.catalog__race-item {
  font-size: 16px;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &--active {
    text-decoration: underline;
  }
}

.catalog__sort-list {
  display: flex;
  width: 100px;
  align-self: center;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  justify-content: space-around;
  list-style: none;
}

.catalog__sort-item {
  opacity: 0.6;

  &:hover {
    opacity: 0.3;
  }

  &--active {
    opacity: 1;
  }
}

.catalog__sort-icon {
  width: 15px;
  height: 15px;
  fill: $text-blue;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: auto;
  }

  .catalog__wrapper {
    flex-direction: row;
  }

  .catalog__race-list {
    flex-basis: 75%;
    justify-content: space-around;
  }

  .catalog__sort-list {
    margin: 0;
  }

  .catalog__ships-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .catalog__more {
    align-self: center;
  }

  .catalog__button {
    width: 460px;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .catalog__button {
    width: 960px;
    height: 70px;
  }

  .catalog__race-item {
    font-size: 24px;
  }
}