.page-main {
  margin: 0 auto;
}

.page-main__wrapper {
  width: 360px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    width: 1300px;
  }
}
